<div class="container my-5">
    <div class="row text-center">
        <h1><span style="color: #ffc107">RAM</span>TECH CUSTOMER ORDERS</h1>
    </div>
</div>

<div class="container" style="color:black">
    <div class="row">
        <% customersArray.forEach(customer => { %>
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title"><%= customer.name %></h5>
                      <h6 class="card-subtitle mb-2 text-muted"><%= customer.date.toDateString() %></h6>
                      <p class="card-text" style="white-space: pre-wrap"><%= customer.itemsOrdered %></p>
                      <p class="card-text"><%= customer.additionalNotes %></p>
                      <a href="/orders/corder/user/<%= customer._id %>" class="btn btn-primary">View</a>
                    </div>
                  </div>
                </div>
            <% }); %>
    </div>
</div>

