<%- include('partials/header.ejs') %>
    <body class="bg-dark text-white">
        <div class="container-fluid">
            <div class="row my-4">
                <div class="col-10">
                    <h1><span style="color: #ffc107">RAM</span>TECH INVENTORY</h1>
                </div>
            </div>
            <div class="row justify-content-end my-0">
                <div class="col-1">
                    <button id="addItemButton" type="submit" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addItem">
                        Add Item
                    </button>
                </div>
            </div>
        </div>
        <!-- Table -->
        <div class="table-wrapper-scroll-y scrollbar">
            <table class="table table-dark table-striped table-sm table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Product</th>
                        <th scope="col">Part Number</th>
                        <th scope="col">UPC</th>
                        <th scope="col">Quantity</th>  
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <% let num = 0 %>
                    <% dataArray.forEach(item => { %>
                        <% num++ %>
                        <tr>    
                            <td><%= num %></td>
                            <td><%= item.Name %></td>
                            <td><%= item.MPN %></td>
                            <td><%= item.UPC %></td>
                            <td><%= item.Quantity %></td>
                            <td>
                                <button id="<%= num %>" type="submit" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#itemModal<%=num%>">
                                    Update
                                </button>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        <!-- Item Display Modal -->
        <% let itemNum = 0 %>
        <% dataArray.forEach(item => { %>
        <% itemNum++ %>
        <div class="modal fade" id="itemModal<%=itemNum%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-black" id="exampleModalLabel">Update</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center text-black">
                    <img src="https://cdn.onlinewebfonts.com/svg/img_98811.png" id="icon" />
                    <h4><%= item.Name %></h4>
                    <p>Quantity: <%= item.Quantity %></p>
                    <p>MPN: <%= item.MPN %></p>
                    <p>UPC: <%= item.UPC %></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
          <% }); %>
          <!-- Add to database Modal -->
          <div class="modal fade" id="addItem" tabindex="-1" aria-labelledby="label" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-black">Add New Item</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center text-black">
                    <p>What would you like to add?</p>
                <form action="/add" method="POST">
                    <input class="form-control form-control-sm" type="text" placeholder="Name" name="name" required>
                    <div class="input-group mb-3" id="bottom-form-input">
                        <input type="text" class="form-control form-control-sm" placeholder="UPC" name="upc" required>
                        <input type="text" class="form-control form-control-sm" placeholder="MPN" name="mpn" required>
                        <input type="number" class="form-control form-control-sm" placeholder="Quantity" name="quantity">
                      </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
        crossorigin="anonymous"></script>
    </body>
</html>