<%- include('partials/header.ejs') %>
    <body class="bg-dark text-white">
        <div class="container-fluid">
            <div class="row my-4">
                <div class="col-10">
                    <h1><span style="color: #ffc107">RAM</span>TECH INVENTORY</h1>
                    
                </div>
                <div class="col-1">
                    <button type="submit" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addItem">
                        Add Item
                    </button>
                </div>
                <div class="col-1">
                    <form action="/view/sort" method="GET">
                        <select class="form-select form-select-sm" name="options">
                            <option selected>Sort by</option>
                            <option value="Quantity">Quantity</option>
                            <option value="Category">Category</option>
                        </select>
                        <button type="submit" class="btn btn-primary">Sort</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Table -->
        <div class="table-wrapper-scroll-y scrollbar">
            <table class="table table-dark table-striped table-sm table-hover">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Category</th>
                        <th scope="col">Part Number</th>
                        <th scope="col">UPC</th>
                        <th scope="col">Quantity</th>  
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <% let num = 0 %>
                    <% dataArray.forEach(item => { %>
                        <% num++ %>
                        <tr>    
                            <td><%= item.Name %></td>
                            <td><%= item.Category %></td>
                            <td><%= item.MPN %></td>
                            <td><%= item.UPC %></td>
                            <td class="text-center"><%= item.Quantity %></td>
                            <td class="text-right">
                                <button id="<%= num %>" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#itemModal<%=num%>">
                                    View
                                </button>
                                <button id="del-button" class="btn btn-danger" onclick="confirmDelete('<%= item.UPC %>')">X</button>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        <!-- Item Display Modal -->
        <% let itemNum = 0 %>
        <% dataArray.forEach(item => { %>
        <% itemNum++ %>
        <div class="modal fade" id="itemModal<%=itemNum%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-black" id="exampleModalLabel">View</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center text-black">
                    <form action="/update/<%= item.UPC %>" method="POST">
                        <img src="<%= item.Image %>" id="icon" />
                        <div class="form-floating">
                            <input type="text" id="pname" class="form-control form-control-sm" placeholder="<%= item.Name %>" value="<%= item.Name %>" name="name" required>
                            <label for="pname">Product Name</label>
                        </div>
                        <div class="form-floating">
                            <input type="number" id="pquantity" class="form-control form-control-sm" placeholder="<%= item.Quantity %>" value="<%= item.Quantity %>" name="quantity" required>
                            <label for="pquantity">Quantity</label>
                        </div>
                        <div class="form-floating">
                            <input type="text" id="pmpn" class="form-control form-control-sm" placeholder="<%= item.MPN %>" value="<%= item.MPN %>" name="mpn" required>
                            <label for="pmpn">MPN</label>
                        </div>
                        <div class="form-floating">
                            <input type="text" id="pupc" class="form-control form-control-sm" placeholder="<%= item.UPC %>" value="<%= item.UPC %>" name="upc" required>
                            <label for="pupc">UPC</label>
                        </div>
                        <div class="form-floating">
                            <input type="text" id="pimage" class="form-control form-control-sm" placeholder="<%= item.Image %>" value="<%= item.Image %>" name="image" required>
                            <label for="pimage">Image URL</label>
                        </div>
                        <div class="form-floating">
                            <select class="form-select form-select-sm" id="pcategory" name="category">
                                <option selected="<%= item.Category %>"><%= item.Category %></option>
                                <option value="MacBook">MacBook</option>
                                <option value="iPad">iPad</option>
                                <option value="Watch">Watch</option>
                                <option value="AirPods">AirPods</option>
                                <option value="iMac">iMac</option>
                                <option value="AppleTV">AppleTV</option>
                                <option value="HomePod">HomePod</option>
                                <option value="Accessories">Accessories</option>
                            </select>
                            <label for="pcategory">Product Category</label>
                        </div>
                        <!-- <input type="text" class="form-control form-control-sm" placeholder="<%= item.Category %>" value="<%= item.Category %>" name="category" required> -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
          <% }); %>
          <!-- Add to database Modal -->
          <div class="modal fade" id="addItem" tabindex="-1" aria-labelledby="label" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-black">Add New Item</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center text-black">
                    <p>What would you like to add?</p>
                <form action="/add" method="POST">
                    <input class="form-control form-control-sm" type="text" placeholder="Name" name="name" required>
                    <div class="input-group mb-3" id="bottom-form-input">
                        <input type="text" class="form-control form-control-sm" placeholder="UPC" name="upc" required>
                        <input type="text" class="form-control form-control-sm" placeholder="MPN" name="mpn" required>
                        <input type="number" class="form-control form-control-sm" placeholder="Quantity" name="quantity" required>
                      </div>
                      <input class="form-control form-control-sm" type="text" placeholder="Image URL" name="image" required>
                      <input class="form-control form-control-sm" type="text" placeholder="Category" name="category" required>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
        crossorigin="anonymous"></script>
        <script>
            const confirmDelete = (item) => {
                button = document.getElementById('del-button');
                let confirmation = confirm('Are you sure you want to delete this item?');
                    if (confirmation) {
                        window.location.href=`http://localhost:3000/delete/${item}`;
                    }
            }
        </script>
    </body>
</html>